<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>My Web App</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <link rel="stylesheet" href="../static/stylesheet.css">
  <!-- <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script> -->
  <!-- <script type="text/javascript">
    $(document).ready(function () {
      console.log("document loaded");
    });

    $(window).on("load", function () {
      console.log("window loaded");
    });
  </script> -->
</head>

<body>
  <nav class="navbar">
    <span>Team Orchard</span>
  </nav>
  <div class="hero">
    <h5>131 Different Categories</h5>
    <h1>Fruit Trees</h1>
    <button class="hero__btn btn"
      onClick="document.getElementById('classifiers').scrollIntoView().scrollTop -= 10;">Identify a
      Fruit</button>
  </div>
  <div class="classifiers" id="classifiers">
    <ul>
      <li id="svm_btn">
        <img src="../static/svm1.png" />
        <div class="classifier__container">
          <div class="classifier__container__type">SVM</div>Image Classifier
        </div>

      </li>
      <li id="random-forest_btn">
        <img src="../static/randomforst1.png"/>
        <div class="classifier__container">
          <div class="classifier__container__type">Random Forest</div>Image Classifier
        </div>
      </li>
      <li id="nfnet_btn">
        <img src="../static/nfnet1.png" />
        <div class="classifier__container">
          <div class="classifier__container__type">NFnet</div>Image Classifier
        </div>
      </li>
    </ul>
  </div>

  <div class="image-classifier__container">
    <h2 id="header__svm"><span class="form__color-code">Support Vector Machine (SVM)</span>&nbsp;Image Classifier </h2>
    <h2 id="header__random-forest"><span class="form__color-code">Random Forest </span>&nbsp;Image Classifier</h2>
    <h2 id="header__nfnet"><span class="form__color-code">NFnet</span>&nbsp;Image Classifier</h2>

    <div class="image-classifier__container__outer">
      <div class="image-classifier__container__inner">
        <h3>Upload Image Here </h3>
        <!-- Image -->
        <p>
          <img class="image-classifier__container__inner__image" src="data:image/png;base64,{{ img_data }}" alt="&nbsp;"
            width=" 500">
        </p>

        <form id="form__svm" method="POST" action={{url_for("classify_image_SVM")}} enctype="multipart/form-data">
          <!--  <form method=post enctype=multipart /form-data>-->
          <input type=file name=file>
          <input type=submit value=Upload class="btn">

        </form>

        <form id="form__random-forest" method="POST" action={{url_for("classify_image_RF")}}
          enctype="multipart/form-data">
          <!--  <form method=post enctype=multipart /form-data>-->
          <input type=file name=file>
          <input type=submit value=Upload class="btn">

        </form>

        <form id="form__nfnet" method="POST" action={{url_for("classify_image_SVM")}} enctype="multipart/form-data">
          <!--  <form method=post enctype=multipart /form-data>-->
          <input type=file name=file>
          <input type=submit value=Upload class="btn">

        </form>
      </div>
      <div class="form__output">
        {% block content %} {% endblock %}
        <button class="btn" onClick={showAnalytics()}>Show Analytics</button>
      </div>
    </div>
  </div>

  <div class="analytics-container">

    <div class="analytics-data">

    </div>
    <img class="confusion-matrix" src="">
  </div>
  <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>