@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 60px;
}

h5 {
  font-size: 24px;
}

.navbar {
  position: absolute;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}

.hero {
  background: url("Apples1.jpg");
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: sans-serif;
}

.hero > * {
  margin: 10px;
}

.hero__btn {
  cursor: pointer;
  font-size: 20px;
}

.classifiers {
  padding: 10px;
  /* height: 100px; */
  background-color: #ebebeb;
}

.classifiers > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.classifiers > ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 100%;
}

.classifiers > ul li:hover {
  background-color: #cccccc;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.classifiers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.classifiers__container__type {
  color: #ff8a8a;
}

.form__color-code {
  color: #ff8a8a;
}

.form__output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form__output__header {
  text-align: center;
}

#form__svm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#form__random-forest {
  display: none;
}

#form__nfnet {
  display: none;
}

.btn {
  color: white;
  background-color: #ff8a8a;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}

.image-classifier__container {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20%;
}

.image-classifier__container__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.image-classifier__container__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.image-classifier__container__inner h3 {
  text-align: center;
}

.image-classifier__container__inner__image {
  display: block;
  width: 500px;
  height: 500px;
}

.analytics-container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header__svm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header__random-forest {
  display: none;
}

#header__nfnet {
  display: none;
}
/*# sourceMappingURL=stylesheet.css.map */